@media (max-width: 991.98px) {
    .navbar-collapse {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .navbar-nav {
        padding: 10px;
        margin: 0 auto;
        align-items: center;
    }

    .navbar {
        padding: 10px;
    }
}
