html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F8F9FA;
}

main {
    flex: 1;
}

header {
    background-color: #007BFF;
}

header a.nav-link {
    color: white !important;
}

header a.nav-link:hover {
    color: #cce5ff !important;
}

header .navbar-brand {
    color: white !important;
    font-weight: bold;
}

header .navbar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #007BFF;
    color: white;
    padding: 1rem 0;
}

a {
    transition: all 0.3s ease; 
}

a:hover, a:focus {
    color: #3B82F6; 
    text-decoration: underline; 
}

a:active {
    color: #1E3A8A; 
}